.down-up-enter-active,
.up-down-enter-active,
.left-right-enter-active {
  transition: all 0.5s ease-in;
}
.down-up-leave-active,
.left-right-leave-active {
  transition: all 0.5s ease-out;
  min-width: 80%;
  position: absolute;
}

.up-down-leave-from,
.up-down-enter-to,
.down-up-leave-from,
.down-up-enter-to,
.left-right-leave-from,
.left-right-enter-to {
  transform: translateX(0px);
  opacity: 1;
}

.left-right-leave-to {
  transform: translateX(-100vw);
  opacity: 0.75;
}
.left-right-enter-from {
  transform: translateX(100vw);
  opacity: 0.75;
}

.down-up-leave-to {
  transform: translateY(100vh);
  opacity: 0.75;
}
.down-up-enter-from {
  transform: translateY(100vh);
  opacity: 0.75;
}

.up-down-leave-to {
  opacity: 0;
}
.up-down-enter-from {
  transform: translateY(-100vh);
  opacity: 0.5;
}
