/*
  Responsive font sizes
*/
:root {
  font-size: 16px;
  --font-xs: 0.875rem;
  --font-sm: 0.95rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.75rem;
  --font-huge: 3rem;
}
@media (min-width: 1024px) {
  :root {
    font-size: 18px;
    --font-2xl: 2rem;
    --font-3xl: 2.25rem;
    --font-huge: 4rem;
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 0.75vw;
    --font-lg: 1.5rem;
    --font-xl: 1.75rem;
  }
}
/* Font Sizes*/
.font-xs {
  font-size: var(--font-xs);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-2xl {
  font-size: var(--font-2xl);
}
.font-3xl {
  font-size: var(--font-3xl);
}
.font-huge {
  font-size: var(--font-huge);
}

/* Reset */
ul {
  padding: 0;
}

p {
  margin: 0;
}
/*
  Colors
*/
:root {
  --primary: #162574;
  --primary-light: #3d5cfa;
}
body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: var(--primary);
  line-height: 173.4%;
}

.grotesk {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
}

/**
  The app is sized to contain the entire app.
  It is used to center the content on really large screens.
*/

@media (min-width: 1520px) {
  #app {
    width: 150vh;
    position: relative; /* Needed for app headers */
    min-width: 1280px;
    max-width: calc(100vw - 240px);
    margin: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  The app padding is used to give a consistent padding for the app.
*/

.app-padding {
  padding: 32px 24px;
  margin: 0;
}

@media (min-width: 480px) {
  .app-padding {
    padding: 32px;
  }
}

@media (min-width: 768px) {
  .app-padding {
    padding: 0.875rem 64px;
  }
}

@media (min-width: 1280px) {
  .app-padding {
    padding-left: 120px;
    padding-right: 120px;
  }
}

/**
  A full page screen contains the content and is sized to
  exclude the app header and footer. It tries to size itself to the laptop
  screen. Must come after fullpage to override it.
*/
main {
  /* Header height */
  padding-top: 4rem;
}
.fullpage {
  /* Footer height */
  padding-bottom: 0;
  height: calc(100vh - 4rem);
  min-height: 40vw;
}

@media (min-width: 1520px) {
  .fullpage {
    min-height: 720px;
  }
}

/* Common Classes */
.highlight {
  display: inline-block;
  vertical-align: middle;
  padding: 0.25em 1em;
  background: var(--primary-light);
  border-radius: 1em;
  font-size: var(--font-lg);
  line-height: normal;
  color: #ffffff;
  position: relative;
  top: -0.125em;
  margin-left: 0.5em;
}

.hover-zoom {
  transition: all 0.3s;
  position: relative;
}
.hover-zoom:hover {
  z-index: 10;
  transform: scale(1.04);
}

.hover-text {
  transition: all 0.3s;
}
.hover-text:hover {
  text-decoration: underline;
  opacity: 1;
}

.touch-ripple:active {
  opacity: 0.75;
  transition: opacity 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes shake {
  from {
    transform: translateX(-5.5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-2px);
  }
  87.5% {
    transform: translateX(1px);
  }
  to {
    transform: translateX(0px);
  }
}
