.tabs {
  display: flex;
  max-width: 100%;
  --border-radius: 0.75em;
  --line-height: 1.5em;
  --padding-y: 0.5em;
  --padding-x: 2.5em;
  --minus-border-radius: calc(0em - var(--border-radius));
  --height: calc(var(--line-height) + calc(var(--padding-y) * 2));
  --border-allowance: calc(var(--border-radius) * 0.75);
  --reduced-height: calc(var(--height) - var(--border-radius));
  --reduced-padding-x: calc(var(--padding-x) - var(--border-allowance));
}

.tab {
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  list-style-type: none;
  line-height: var(--line-height);
  padding: var(--padding-y) var(--padding-x);
  /* Tab height */
  height: var(--height);
  /* Inactive items show only bottom border. Use negative margins to make ends overlap. */
  border: 1.5px solid transparent;
  border-bottom-color: #3d5cfa;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin: 0 -1.5px;
  cursor: pointer;
}

.tab:first-child {
  margin-left: var(--border-allowance);
  padding-left: var(--reduced-padding-x);
}

.empty-tab {
  flex-grow: 1;
  margin-right: var(--border-allowance);
  padding-right: var(--reduced-padding-x);
}

@media (max-width: 599.99px) {
  .tabs {
    --padding-x: 1em;
    overflow: auto;
    font-size: var(--font-xs);
  }
  .tab {
    flex-grow: 1;
  }
  .empty-tab {
    max-width: 0;
  }
}

.tab-active {
  /* Hide bottom border. Show other borders.*/
  border-top-color: #3d5cfa;
  border-left-color: #3d5cfa;
  border-right-color: #3d5cfa;
  border-bottom-style: none;
  /*Reduce height of element so that bottom end of the side borders don't show behind pseudo elements. Tab height - border-radius */
  height: var(--reduced-height);
  /*Add margin to show radius of pseudo elements. */
  margin: 0 var(--border-allowance);
  padding: var(--padding-y) var(--reduced-padding-x);
  position: relative;
}

.tab::before,
.tab::after {
  content: "";
  position: absolute;
  border: 1.5px none #3d5cfa;
  /* Needed so that edges align without using calc */
  box-sizing: content-box;
  /*Allow for the border-radius of parent element. 0.7071 * border-radius*/
  top: var(--border-allowance);
  /*Make use of the space removed from parent height ie border-radius*/
  bottom: var(--minus-border-radius);
}

.tab-active::before {
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-right-radius: var(--border-radius);
  /* Allow curve to be fully formed */
  left: var(--minus-border-radius);
  right: 100%;
}

.tab-active::after {
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: var(--border-radius);
  right: var(--minus-border-radius);
  left: 100%;
}
.tab-active:first-child {
  padding-left: calc(calc(var(--padding-x) + var(--reduced-padding-x)) / 2);
  padding-right: calc(calc(var(--padding-x) + var(--reduced-padding-x)) / 2);
  margin-left: 0;
}
.tab-active:first-child::before {
  border-radius: 0;
  border-bottom: none;
}
