.left-right-enter-active {
  transition: all 0.5s ease-out;
}

.left-right-leave-active {
  transition: all 0.5s ease-out;
  min-width: 80%;
  position: absolute;
}

.left-right-leave-to {
  transform: translateX(-100vw);
  opacity: 0.75;
}
.left-right-enter-from {
  transform: translateX(100vw);
  opacity: 0.75;
}

.left-right-leave-from,
.left-right-enter-to {
  transform: translateX(0px);
  opacity: 1;
}
